.card {
    width: 24rem;
}

.cardHeader {
    /* Add any specific styles for the card header if needed */
}

.cardTitle {
    /* Add any specific styles for the card title if needed */
}

.cardContent {
    /* Add any specific styles for the card content if needed */
}

.mb4 {
    margin-bottom: 1rem;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}

.button {
    height: 6rem;
    font-size: 2rem;
}

.mt4 {
    margin-top: 1rem;
    text-align: center;
}

.textRed {
    color: red;
}

.textYellow {
    color: yellow;
}